<div class="container">
    <div class="row">
        <div class="col-9">
            
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-renting-tab" data-bs-toggle="tab" data-bs-target="#nav-renting"
            type="button" role="tab" aria-controls="nav-renting" aria-selected="true">Kiralama</button>
        <button class="nav-link" id="nav-car-tab" data-bs-toggle="tab" data-bs-target="#nav-car" type="button"
            role="tab" aria-controls="nav-car" aria-selected="false">Araç Seç</button>
        <button class="nav-link" id="nav-customer-tab" data-bs-toggle="tab" data-bs-target="#nav-customer" type="button"
            role="tab" aria-controls="nav-customer" aria-selected="false">Müşteri Kayıt</button>
        <button class="nav-link" id="nav-extras-tab" data-bs-toggle="tab" data-bs-target="#nav-extras" type="button"
            role="tab" aria-controls="nav-extras" aria-selected="false">Ekstralar</button>
        <button class="nav-link" id="nav-payment-tab" data-bs-toggle="tab" data-bs-target="#nav-payment" type="button"
            role="tab" aria-controls="nav-payment" aria-selected="false">Ödeme</button>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <!-- Renting Tab-->
    <div class="tab-pane fade show active" id="nav-renting" role="tabpanel" aria-labelledby="nav-renting-tab">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="rentalForm" (ngSubmit)="rentCar()" class="form-group">

                    <div class="row">
                        <div class="col-6">
                            <div class="p-field p-col-12 p-md-4">
                                <label for="icon">Kiralama Tarihi</label>
                                <br>
                                <p-calendar formControlName="rentDate" [minDate]= "minDateValue" [showIcon]="true" (onSelect)="onRentDateSelect()" id="clnd_rentDate" inputId="icon"></p-calendar>

                            </div>
                        </div>
                        <div class="col-6">
                            <div class="p-field p-col-12 p-md-4">
                                <label for="icon">Teslim Tarihi</label>
                                <br>
                                <p-calendar formControlName="returnDate" [minDate]= "minDateValue" [showIcon]="true" (onSelect)="onReturnDateSelect()" id="clnd_returnDate" inputId="icon"></p-calendar>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="carClasses">Aracı teslim alacağınız şehir</label>
                        <select class="form-control" formControlName="rentedCityId" id="rentedCityId" (change)="changeRentCity($event.target.value)">
                            <option *ngFor="let city of cities; let i = index" [value]="city.id">
                                {{city.cityName}}
                            </option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="carClasses">Aracı teslim edeceğiniz şehir</label>
                        <select class="form-control" formControlName="returnedCityId" id="returnedCityId" (change)="changeReturnedCity($event.target.value)">
                            <option *ngFor="let city of cities; let i = index" [value]="city.id">
                                {{city.cityName}}
                            </option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <input type="text" placeholder="Mail adresinizi giriniz" formControlName="mailAddress"
                            class="form-control" id="mailAdress" name="mailAdress" />
                        <div *ngIf="rentalForm.get('mailAddress').hasError('email')" class="alert alert-danger">
                            Lütfen geçerli bir mail adresi giriniz.
                        </div>
                        <div *ngIf="rentalForm.get('mailAddress').errors?.required && (rentalForm.get('mailAddress').dirty || rentalForm.get('mailAddress').touched) "
                            class="alert alert-danger">
                            Mail kısmı zorunludur.
                        </div>
                        <div *ngIf="customerFound" id="mail-logged-message" class="alert alert-success">
                            Sayın {{user.firstName}} hoş geldiniz. Müşteri kaydı yapmanız gerekmemektedir.
                        </div>
                        <div *ngIf="customerFound == false && rentalForm.get('mailAddress').dirty" id="mail-logged-message" class="alert alert-danger">
                            Sayın müşterimiz. Bu maile kayıtlı bir hesap bulunmamaktadır. Müşteri kayıt sayfasından kayıt yapınız.
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Car Select Tab-->
    <div class="tab-pane fade" id="nav-car" role="tabpanel" aria-labelledby="nav-car-tab">
        <div class="card">
            <p-dataView #dv [value]="cars" [paginator]="true" [rows]="5" filterBy="name" [sortField]="sortField"
                [sortOrder]="sortOrder" layout="list">
                <ng-template pTemplate="header">
                    <div class="flex flex-column md:flex-row md:justify-content-between">
                        <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By Price"
                            (onChange)="onSortChange($event)" styleClass="mb-2 md:mb-0"></p-dropdown>
                        <span class="p-input-icon-left mb-2 md:mb-0">
                            <i class="pi pi-search"></i>
                            <input type="search" pInputText placeholder="Search by Name"
                                (input)="dv.filter($event.target.value)">
                        </span>
                        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                    </div>
                </ng-template>
                <ng-template let-car pTemplate="listItem">
                    <div class="col-12">
                        <div class="product-list-item">
                            <img [src]="car.imageUrl"
                                [alt]="car.brand" />
                            <div class="product-list-detail">
                                <div class="product-name">{{car.brand}}</div>
                                <div class="product-description">{{car.description}}</div>
                                <p-rating [ngModel]="car.findexScore" [readonly]="true" [cancel]="false"></p-rating>
                                <i class="pi pi-tag product-category-icon"></i><span
                                    class="product-category">{{car.modelName}}</span>
                            </div>
                            <div class="product-list-action">
                                <span class="product-price">₺{{car.dailyPrice}}</span>
                                <button *ngIf="car.id == selectedCar" pButton label="Seçildi" icon="pi pi-shopping-cart" type="button" id="btn_car_select_{{car.id}}"
                                 class="p-button-success" (click)="selectCar(car.id)" ></button> 
                                <button *ngIf="car.id != selectedCar" pButton label="Seç" icon="pi pi-shopping-cart" type="button" id="btn_car_select_{{car.id}}"
                                 class="p-button-primary" (click)="selectCar(car.id)" ></button> 
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataView>
        </div>
    </div>
    <!-- Customer Tab-->
    <div class="tab-pane fade" id="nav-customer" role="tabpanel" aria-labelledby="nav-customer-tab">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="customerAddForm" class="form-group">

                    <div *ngIf="customerFound" class="alert alert-success"> Sayın {{user.firstName}} Müşteri kaydı yapmanız gerekmemektedir.</div>

                    <div class="mb-3">
                        <input type="text" placeholder="Mail adresinizi giriniz" formControlName="email"
                            class="form-control" id="email" name="email" />
                        <div *ngIf="customerAddForm.get('email').hasError('email')" class="alert alert-danger">
                            Lütfen geçerli bir mail adresi giriniz.
                        </div>
                        <div *ngIf="customerAddForm.get('email').errors?.required && (customerAddForm.get('email').dirty || customerAddForm.get('email').touched) "
                            class="alert alert-danger">
                            Mail kısmı zorunludur.
                        </div>
                    </div>

                    <div class="mb-3">
                        <input type="text" placeholder="Adınızı giriniz" formControlName="firstName"
                            class="form-control" id="firstName" name="firstName" />
                    </div>

                    <div class="mb-3">
                        <input type="text" placeholder="Soyadınızı giriniz" formControlName="lastName"
                            class="form-control" id="lastName" name="lastName" />
                    </div>

                    <div class="mb-3">
                        <input type="password" placeholder="Şifrenizi giriniz" formControlName="password"
                            class="form-control" id="password" name="password" />
                        <div *ngIf="customerAddForm.get('password').errors?.maxlength" class="alert alert-danger">
                            Şifre en fazla 50 karakter olmalıdır.
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="p-field p-col-12 p-md-4">
                            <label for="icon">Doğum Tarihi</label>
                            <br>
                            <p-calendar formControlName="birthDate" [showIcon]="true" inputId="icon"></p-calendar>
                        </div>
                    </div>

                    <div class="mb-3">
                        <button class="btn btn-primary" (click)="addCustomer()"> Kaydol</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Extras Tab-->
    <div class="tab-pane fade" id="nav-extras" role="tabpanel" aria-labelledby="nav-extras-tab">
        <div class="card">
            <div class="card-body">
                <div class="table">
                    <thead>
                        <tr>
                            <th>EK Hizmet Türü</th>
                            <th>Günlük Ücreti</th>
                            <th>İşlem Yap</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let additionalService of additionalServices">
                            <td> {{additionalService.description}} </td>
                            <td> {{additionalService.price}} </td>
                            <td *ngIf="!checkIfItemAdded(additionalService.id)" >  <button pButton label="Ekle" icon="pi pi-shopping-cart" type="button"
                                class="p-button-primary" (click)="addAS(additionalService.id)" ></button> </td>
                            <td *ngIf="checkIfItemAdded(additionalService.id)">  <button  pButton label="Kaldır" icon="pi pi-shopping-cart" type="button" 
                                    class="p-button-danger" (click)="removeAS(additionalService.id)" ></button> </td>
                        </tr>
                    </tbody>
                </div>
            </div>
        </div>
    </div>
    <!-- Payment Tab-->
    <div class="tab-pane fade" id="nav-payment" role="tabpanel" aria-labelledby="nav-payment-tab">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <form #paymentForm="ngForm">

                            <div class="mb-3">
                                <input type="text" placeholder="Kredi kart üzerindeki ad soyad" #cardHolder="ngModel"
                                    [(ngModel)]="createPaymentModel.createCreditCardInfoRequest.cardHolder" class="form-control"
                                    id="cardHolder" name="cardHolder" />
                            </div>
        
                            <div class="mb-3">
                                <input type="text" placeholder="Kart üzerindeki 16 haneyi giriniz" #creditCard="ngModel"
                                    [(ngModel)]="createPaymentModel.createCreditCardInfoRequest.creditCard" class="form-control"
                                    id="creditCard" name="creditCard" required maxlength="16"/>
                                <div *ngIf="creditCard.invalid && creditCard.dirty" class="alert alert-danger">
                                    Kredi kart bilgisi kısmı zorunludur.
                                </div>
                            </div>
        
                            <div class="mb-3">
                                <input type="text" placeholder="Geçerlilik tarihini giriniz" #validDate="ngModel"
                                    [(ngModel)]="createPaymentModel.createCreditCardInfoRequest.validDate" class="form-control"
                                    id="validDate" name="validDate" maxlength="4"/>
                            </div>
        
                            <div class="mb-3">
                                <input type="password" placeholder="Kartın arkasındaki 3 haneli CVC rakamlarını giriniz"
                                    #cvc="ngModel" [(ngModel)]="createPaymentModel.createCreditCardInfoRequest.cvc"
                                    class="form-control" id="cvc" name="cvc" required />
                                <div *ngIf="cvc.invalid && cvc.dirty" class="alert alert-danger">
                                    CVC kısmı zorunludur.
                                </div>
                            </div>
                            <div class="p-field-checkbox">
                                <p-checkbox [(ngModel)]="saveCardChecked" binary="true" name="cb_savecard" inputId="cb_savecard"></p-checkbox>
                                <label class="cb_savecard" for="cb_savecard">Kart Bilgilerimi Kaydet</label>
                            </div>
                            <br>
        
                            <div class="mb-3">
                                <input type="text" placeholder="Promosyon Kodu"
                                    #promotionCode="ngModel" [(ngModel)]="createPaymentModel.code"
                                    class="form-control" id="promotionCode" name="promotionCode" />
                            </div>
        
                        </form>
                    </div>
                    <div class="col-6">
                        <img src="https://t3.ftcdn.net/jpg/03/95/04/64/360_F_395046410_zPvTifXj16lprkYLFSN5Yeweaquzc4CR.jpg" alt="image" style="width: 100%">
                        <div class="card_card_holder">{{createPaymentModel.createCreditCardInfoRequest.cardHolder}}</div>
                        <div class="card_card_number">{{createPaymentModel.createCreditCardInfoRequest.creditCard |creditCardFormat}} </div>
                        <div class="card_validity_date">{{createPaymentModel.createCreditCardInfoRequest.validDate |cardDateFormat}}</div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
    <!-- Yapılan Seçimler Tablosu-->
        </div>
        <div class="col-3">
            <table class="table">
                <thead>
                    <tr>
                        <th> Yapılan Seçimler:</th>
                    </tr>                    
                </thead>
                <tbody>
                    <tr>
                        <td> Kiralama Tarihi: </td>
                        <td id="ypt_rent_date"> {{rentDate |date: 'dd.LL.y'}}</td>
                    </tr>
                    <tr>
                        <td> Teslim Tarihi: </td>
                        <td id="ypt_return_date">{{returnDate |date: 'dd.LL.y'}}</td>
                    </tr>
                    <tr>
                        <td> Kiralanacak Şehir: </td>
                        <td id="ypt_rent_city" ></td>
                    </tr>
                    <tr>
                        <td> Teslim Edilecek Şehir: </td>
                        <td id="ypt_returned_city" ></td>
                    </tr>
                    <tr>
                        <td> Araç:  </td>
                        <td id="ypt_selected_car" ></td>
                    </tr>
                </tbody>
            </table>
            <table class="table">
                <thead>
                    <tr>
                        <th> Ek Hizmetler:</th>
                    </tr>                    
                </thead>
                <tbody>
                    <tr *ngFor="let adSer of selectedAdditionalServices">
                        <td> {{adSer.description}} </td>
                        <td> {{adSer.price}}</td>                       
                    </tr>
                    <div *ngIf="selectedAdditionalServices.length == 0" class="alert alert-danger"> Ek servis seçimi yapılmadı</div>
                </tbody>
            </table>
            <table class="table">
                <thead>
                    <tr>
                        <th>Toplam:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>₺{{totalSum}}</td>
                    </tr>
                </tbody>
            </table>

            <button pButton label="Kiralamayı Tamamla" icon="pi pi-credit-card" type="button"
                class="p-button-success" [disabled]="paymentForm.invalid" (click)="rentCar()" ></button>

        </div>
    </div>
</div>


<!-- Fatura-->
<div *ngIf="paymentIsMade">
                            
<div class="receipt-content">
    <div class="container bootstrap snippets bootdey">
		<div class="row">
			<div class="col-md-12">
				<div class="invoice-wrapper">
					<div class="intro">
						Hi <strong>{{invoiceListModel.firstName + " " + invoiceListModel.lastName }}</strong>, 
						<br>
						This is the receipt for a payment of <strong>₺{{invoiceListModel.totalSum}}</strong> (TRY) for your works
					</div>

					<div class="payment-info">
						<div class="row">
							<div class="col-sm-6">
								<span>Payment No.</span>
								<strong>202254124123</strong>
							</div>
							<div class="col-sm-6 text-right">
								<span>Payment Date</span>
								<strong>{{invoiceListModel.paymentDate |date: 'dd.LL.y' }}</strong>
							</div>
						</div>
					</div>

					<div class="payment-details">
						<div class="row">
							<div class="col-sm-6">
								<span>Client</span>
								<strong>
									{{invoiceListModel.firstName + " " + invoiceListModel.lastName }}
								</strong>
								<p>
									989 5th Avenue <br>
									City of monterrey <br>
									55839 <br>
									USA <br>
									<a href="#">
										{{invoiceListModel.email}}
									</a>
								</p>
							</div>
							<div class="col-sm-6 text-right">
								<span>Payment To</span>
								<strong>
									Innova Rent A Car
								</strong>
								<p>   
									İstanbul Merkez Ofisi. <br>
									İTÜ Ayazağa Kampüsü, <br>
									Teknokent Arı 4 Binası, <br>
									No: 2-1, 34469 <br>
									<a href="#">
										innoverentacar@innova.com
									</a>
								</p>
							</div>
						</div>
					</div>

                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Car Brand</th>
                                <th>Model Year</th>
                                <th>Color </th>
                                <th>Rented Kilometer</th>
                                <th>Rented Date</th>
                                <th>Return Date</th>
                                <th>Rent City</th>
                                <th>Return City</th>
                                <th>Daily Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{invoiceListModel.brandName}}</td>
                                <td>{{invoiceListModel.modelYear}}</td>
                                <td>{{invoiceListModel.color}}</td>
                                <td>{{invoiceListModel.rentedKilometer}}</td>
                                <td>{{invoiceListModel.rentDate |date: 'dd.LL.y'}}</td>
                                <td>{{invoiceListModel.returnDate |date: 'dd.LL.y'}}</td>
                                <td>{{invoiceListModel.rentCity}}</td>
                                <td>{{invoiceListModel.returnCity}}</td>
                                <td>{{invoiceListModel.dailyPrice}}₺</td>
                            </tr>
                        </tbody>
                    </table>

                    

				</div>

				<div class="footer">
					Copyright © 2022. Innova Rent A Car
				</div>
			</div>
		</div>
	</div>
</div>                    
</div>



<button class="btn btn-primary" (click)="deneme()"> Deneme Butonu </button>
