<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="https://img-s2.onedio.com/id-61e58ba725a54cba5579e0d7/rev-0/w-620/f-jpg/s-401ee054a610302f9664775df2bb8f2295a9d216.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{car.brand}}</h5>
                  <p class="card-text">{{car.description}}</p>
                  <p> <b> {{car.dailyPrice}}  TL </b> </p>
                  <a routerLink="/rentcar/{{car.id}}" class="btn btn-primary">Kirala</a>
                </div>
              </div>
        </div>
    </div>
</div>