<div class="container">
  <div class="row align-items-center">
    <div class="col">
      <div class="card">
        <div class="row">
          <div class="col-9">
            <img src={{car.imageUrl}}
              class="card-img-top" alt="car_image">
          </div>
          <div class="col-3">
            <div class="card-body">
              <h3 class="card-title">{{car.brand}}</h3>
              <h5 class="card-title">{{car.modelName}} - {{car.modelYear}}</h5>
              <p class="card-text">{{car.description}}</p>
              <p style="font-size: 1.2rem; opacity: 0.8;" class="card-text">Kilometre: {{car.kilometer}} km </p>
              <p style="font-size: 1.4rem;"> <b> {{car.dailyPrice}} ₺ </b> </p>
              <a routerLink="/rentcar/{{car.id}}" class="btn btn-primary">Kirala</a>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top:1rem;">
          <div class="col-3">
            <img src={{car.imageUrl}}
              class="card-img-top" alt="car_image">
          </div>
          <div class="col-3">
            <img src={{car.imageUrl}}
              class="card-img-top" alt="car_image">
          </div>
          <div class="col-3">
            <img src={{car.imageUrl}}
              class="card-img-top" alt="car_image">
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

id : number
    description : string
    kilometer : number
    carClass : string