<form *ngIf="dataLoaded" [formGroup]="addCarForm" (ngSubmit)="addCar()" class="form-group">

    <div class="mb-3">
        <input type="text" placeholder="Araç günlük fiyatını giriniz" formControlName="dailyPrice" class="form-control"
            id="dailyPrice" name="dailyPrice" />
    </div>

    <div class="mb-3">
        <input type="text" placeholder="Araç model yılını giriniz." formControlName="modelYear" class="form-control"
            id="modelYear" name="modelYear" />
    </div>

    <div class="mb-3">
        <input type="text" placeholder="Araç tanımını giriniz." formControlName="description" class="form-control"
            id="description" name="description" />
    </div>

    <div class="mb-3">
        <input type="text" placeholder="Araç kilometresini giriniz." formControlName="kilometer" class="form-control"
            id="kilometer" name="kilometer" />
    </div>

    <div class="mb-3">
        <input type="text" placeholder="Araç kiralamak için gerekli minimum findex score" formControlName="findexScore"
            class="form-control" id="findexScore" name="findexScore" />
    </div>

    <div class="mb-3">
        <input type="text" placeholder="Araç kiralamak için gerekli minimum yaş" formControlName="minAge"
            class="form-control" id="minAge" name="minAge" />
    </div>

    <label for="brands">Brand</label>
    <select class="form-control" formControlName="brandId" id="brandId">
        <option *ngFor="let brand of brands; let i = index" [value]="brands[i].id">
            {{brands[i].name}}
        </option>
    </select>

    <label for="colors">Color</label>
    <select class="form-control" formControlName="colorId" id="colorId">
        <option *ngFor="let color of colors; let i = index" [value]="colors[i].id">
            {{colors[i].name}}
        </option>
    </select>

    <label for="carClasses">Car Class</label>
    <select class="form-control" formControlName="carClassId" id="carClassId">
        <option *ngFor="let carClass of carClasses; let i = index" [value]="carClasses[i].id">
            {{carClasses[i].classType}}
        </option>
    </select>

    <button type="submit" class="btn btn-success" [disabled]="addCarForm.invalid"> Aracı ekle</button>
</form>
